.primaryGlow {
  position: relative;
  overflow: hidden;
}

.primaryGlow::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: radial-gradient(
    circle at 50% 100%,
    var(--primary),
    transparent 65%
  );

  filter: blur(40px);
  opacity: 0.35;
}
